extends layout

block content
    div.card(class = `card ${size}` style=`background-color: ${color}`)
        div.text(class = `text ${underlined}`)
            //p color: #{color}
            p #{text}
            //p check: #{underlined}

            a(href="/") Back